  /**/
  .sticky {
    /*position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightGrey;
  }

  li.menubar {
    float: left;
    width: 25%;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: LightSlateGrey;
    text-decoration: none;
  }
  
  li.active {
    background-color: #4CAF50;
  }
  li.active a {
    color: white;
  }
  
  #main {
    background-color: SeaShell;
  }

  .nav {
    z-index: 9999;
  }
