<style>
  .page-header {
    background-image: url(https://mananoy.github.io/image/page-top.jpeg);
  }

  ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightGrey;
  }

  .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }

  li.menubar {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
  li a:hover:not(.active) {
    background-color: LightSlateGrey;
    text-decoration: none;
  }
  
  a.active {
    color: white;
    background-color: #4CAF50;
  }
</style>
