<style>
  .page-header {
    color: #fff;
    text-align: center;
    text-shadow: 3px 2px FloralWhite;
    background-color: #159957;
    background-image: url(https://mananoy.github.io/image/page-top.jpeg);
    
    @include large {
      padding: 5rem 6rem;
    }

    @include medium {
      padding: 3rem 4rem;
    }

    @include small {
      padding: 2rem 1rem;
    }
  }

  ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightGrey;
  }

  .sticky {
    /*position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }

  li.menubar {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    width: 25%;
  }
  
  li a:hover:not(li.active) {
    background-color: LightSlateGrey;
    text-decoration: none;
  }
  
  li.active {
    background-color: #4CAF50;
  }
  li.active a {
    color: white;
  }

</style>
