---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-image: url(https://mananoy.github.io/image/page-top.jpeg);
    background-size: auto;
    
    @include large {
      padding: 5rem 6rem;
    }

    @include medium {
      padding: 3rem 4rem;
    }

    @include small {
      padding: 2rem 1rem;
    }
  }
